td {
  padding: 8px;
}
table {
  border-spacing: 10px;
  border-collapse: separate;
}


hr {
  width: 60%;
  margin-right: 50%;
  color: #328292;
}

h3 {
  color: #21545e;
}

.btn {
  background-color: #68AEBC; /* Blue background */
   /* Remove borders */
  color: white; /* White text */
  /* padding: 9px 13px; Some padding */
  font-size: 20px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(35, 85, 95);
}
